# Segmenting and Clustering Neighborhoods in Toronto

A peer-graded assignment on Coursera(https://www.coursera.org/learn/applied-data-science-capstone/peer/I1bDq/segmenting-and-clustering-neighborhoods-in-toronto/) made by Anh-Thi DINH

<b>1. Assignment's description</b>
</br>
<p>In this assignment, you will be required to explore, segment, and cluster the neighborhoods in the city of Toronto</p>

For the Toronto neighborhood data, a Wikipedia page exists that has all the information we need to explore and cluster the neighborhoods in Toronto. You will be required to scrape the Wikipedia page and wrangle the data, clean it, and then read it into a pandas dataframe so that it is in a structured format like the New York dataset.

Once the data is in a structured format, you can replicate the analysis that we did to the New York City dataset to explore and cluster the neighborhoods in the city of Toronto

2. Import necessary packages.

In [1]:
pip install geopy

Requirement already satisfied: geopy in c:\programdata\anaconda3\lib\site-packages (1.21.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\programdata\anaconda3\lib\site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from pandas.io.json import json_normalize  # tranform JSON file into a pandas dataframe

import folium # map rendering library

# import k-means from clustering stage
from sklearn.cluster import KMeans

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import folium

In [3]:
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup = BeautifulSoup(source, 'lxml')

table = soup.find("table")
table_rows = table.tbody.find_all("tr")

res = []
for tr in table_rows:
    td = tr.find_all("td")
    row = [tr.text for tr in td]
    
    # Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    if row != [] and row[1] != "Not assigned":
        # If a cell has a borough but a "Not assigned" neighborhood, then the neighborhood will be the same as the borough.
        if "Not assigned" in row[2]: 
            row[2] = row[1]
        res.append(row)

# Dataframe with 3 columns
df = pd.DataFrame(res, columns = ["PostalCode", "Borough", "Neighborhood"])
df.head()

  PostalCode             Borough                  Neighborhood
0      M1A\n      Not assigned\n                            \n
1      M2A\n      Not assigned\n                            \n
2      M3A\n        North York\n                   Parkwoods\n
3      M4A\n        North York\n            Victoria Village\n
4      M5A\n  Downtown Toronto\n  Regent Park / Harbourfront\n

In [4]:
df.drop(df[df['Borough']=="Not assigned\n"].index,axis=0, inplace=True)
df.head()

,PostalCode,Borough,Neighborhood
2,M3A\n,North York\n,Parkwoods\n
3,M4A\n,North York\n,Victoria Village\n
4,M5A\n,Downtown Toronto\n,Regent Park / Harbourfront\n
5,M6A\n,North York\n,Lawrence Manor / Lawrence Heights\n
6,M7A\n,Downtown Toronto\n,Queen's Park / Ontario Provincial Government\n

In [5]:
df["Borough"] = df["Borough"].str.replace("\n","")
df.head()

  PostalCode           Borough                                    Neighborhood
2      M3A\n        North York                                     Parkwoods\n
3      M4A\n        North York                              Victoria Village\n
4      M5A\n  Downtown Toronto                    Regent Park / Harbourfront\n
5      M6A\n        North York             Lawrence Manor / Lawrence Heights\n
6      M7A\n  Downtown Toronto  Queen's Park / Ontario Provincial Government\n

In [6]:
df["PostalCode"] = df["PostalCode"].str.replace("\n","")
df.head()

  PostalCode           Borough                                    Neighborhood
2        M3A        North York                                     Parkwoods\n
3        M4A        North York                              Victoria Village\n
4        M5A  Downtown Toronto                    Regent Park / Harbourfront\n
5        M6A        North York             Lawrence Manor / Lawrence Heights\n
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government\n

In [7]:
df["Neighborhood"] = df["Neighborhood"].str.replace("\n","")
df.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [8]:
df = df.groupby(["PostalCode", "Borough"])["Neighborhood"].apply(", ".join).reset_index()
df.head()

  PostalCode      Borough                              Neighborhood
0        M1B  Scarborough                           Malvern / Rouge
1        M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2        M1E  Scarborough       Guildwood / Morningside / West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [9]:
df = df.rename(columns={'PostalCode': 'Postal Code'})

In [10]:
df.head()

  Postal Code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [11]:
print("Shape: ", df.shape)

Shape:  (103, 3)